<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemsAnalysis.DataAccess.Properties.Settings.modeling_devConnectionString"
            connectionString="Data Source=SIRTOBY;Initial Catalog=modeling_dev;Persist Security Info=True;User ID=MODELADMIN;Password=daW7horn"
            providerName="System.Data.SqlClient" />
        <add name="SystemsAnalysis.DataAccess.Properties.Settings.DIVERSIONConnectionString"
            connectionString="Data Source=FALSTAFF;Initial Catalog=DIVERSION;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SystemsAnalysis.DataAccess.Properties.Settings.DataAccessConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\TGA_NP_Base\mdbs\DataAccess.mdb"
            providerName="System.Data.OleDb" />
        <add name="SystemsAnalysis.DataAccess.Properties.Settings.alternative_packageConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\TGA_NP_Base\alternatives\TGA_NP_Pipe\alternative_package.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
