<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemsAnalysis.DataAccess.Properties.Settings.modeling_devConnectionString"
            connectionString="Data Source=SIRTOBY;Initial Catalog=modeling_dev;Persist Security Info=True;User ID=MODELADMIN;Password=daW7horn"
            providerName="System.Data.SqlClient" />
        <add name="SystemsAnalysis.DataAccess.Properties.Settings.DIVERSIONConnectionString"
            connectionString="Data Source=FALSTAFF;Initial Catalog=DIVERSION;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SystemsAnalysis.DataAccess.Properties.Settings.DataAccessConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\TGA_NP_Base\mdbs\DataAccess.mdb"
            providerName="System.Data.OleDb" />
        <add name="SystemsAnalysis.DataAccess.Properties.Settings.alternative_packageConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\TGA_NP_Base\alternatives\TGA_NP_Pipe\alternative_package.mdb"
            providerName="System.Data.OleDb" />
        <add name="SystemsAnalysis.DataAccess.Properties.Settings.StormwaterControls_V12ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Data\Projects\41800023-1 BES_DataManagement\TGD_FU_2011\mdbs\StormwaterControls_V12.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>
