<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemsAnalysis.Modeling.ModelResults.Properties.Settings.ConnectionString"
            connectionString="Dsn=MS Access Database" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>