<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SWI_2.Properties.Settings.SANDBOXConnectionString"
            connectionString="Data Source=SIRTOBY;Initial Catalog=SWI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SWI_2.Properties.Settings.Condition_Grade_AverageConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Documents and Settings\issacg\Desktop\discretize\Condition_Grade_Average.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>