<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SWI_2.Properties.Settings.SANDBOXConnectionString"
            connectionString="Data Source=SIRTOBY;Initial Catalog=SANDBOX;Persist Security Info=True;User ID=GIS;Password=Extra$hade"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>