<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.System" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Display" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.ADF" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.4.1420" newVersion="9.2.4.1420"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
