<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StormwaterInterface.Properties.Settings.FieldWorkDBConnectionString"
            connectionString="Data Source=SIRTOBY;Initial Catalog=MODELING_DEV;Persist Security Info=True;User ID=ModelAdmin;Password=daW7horn"
            providerName="System.Data.SqlClient" />
        <add name="StormwaterInterface.Properties.Settings.SANDBOXConnectionString"
            connectionString="Data Source=SIRTOBY;Initial Catalog=MODELING_DEV;Persist Security Info=True;User ID=ModelAdmin;Password=daW7horn"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>