<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>    
    <add key="gridDataTableName" value="WshdGrd100FtOpt" />    
    <add key="bmpTableName" value="PDX_BMP_GRID" />
    <add key="mipTableName" value="PDX_MIP_GRID" />
    <add key="osfTableName" value="PDX_OSF_GRID" />
    <add key="variableTableName" value="variables" />
    <add key="variableKeyFieldName" value="variable" />
    <add key="variableValueFieldName" value="Value" />
    <add key="rainfallKey" value="Precip" />
    <add key="gridOutputStyleSheet" value="\\cassio\modeling\GridMaster\GridEngine\grid_output_style.xsl" />
  </appSettings>  
  <connectionStrings>    
    <add name="SystemsAnalysis.Grid.GridAnalysis.Properties.Settings.Waterqual_GIS_v5_0ConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Waterqual_GIS_v5_0.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>