<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="gridDataTableName" value="GRID_WshdGrd100FtOpt" />
    <add key="bmpTableName" value="GRID_PDX_BMP_GRID" />
    <add key="mipTableName" value="GRID_PDX_MIP_GRID" />
    <add key="osfTableName" value="GRID_PDX_OSF_GRID" />
    <add key="variableTableName" value="GRID_variables" />
    <add key="variableKeyFieldName" value="variable" />
    <add key="variableValueFieldName" value="Value" />
    <add key="rainfallKey" value="Precip" />
    <add key="gridOutputStyleSheet" value="\\cassio\modeling\GridMaster\GridEngine\grid_output_style.xsl" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SystemsAnalysis.Grid.GridAnalysis.Properties.Settings.Waterqual_GIS_v5_0ConnectionString"
      connectionString="Server=BESDBDEV1;Database=GRIDMODEL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>