<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DicretizeIF.Properties.Settings.MLA_05FtBrk_acConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\Cassio\\SystemsPlanning\7977_Rehab\WorkingDatabase\MLA_05FtBrk_ac.mdb"
            providerName="System.Data.OleDb" />
        <add name="DicretizeIF.Properties.Settings.SegsOutputConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\Cassio\\SystemsPlanning\7977_Rehab\WorkingDatabase\SegsOutput.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>