<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemsAnalysis.Modeling.ModelResults.Properties.Settings.ConnectionString"
            connectionString="Dsn=MS Access Database" providerName="System.Data.Odbc" />
        <add name="SystemsAnalysis.Modeling.ModelUtils.ResultsExtractor.Properties.Settings.ConnectionString"
            connectionString="Dsn=MS Access Database" providerName="System.Data.Odbc" />
        <add name="SystemsAnalysis.Modeling.ModelUtils.ResultsExtractor.Properties.Settings.XPSWMMResultsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\XPSWMMResults.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>