<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemsAnalysis.EMGAATS.CrossSectionEditor.Properties.Settings.mst_xsectionsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=W:\SAMaster_22\Links\mst_xsections.mdb"
            providerName="System.Data.OleDb" />
        <add name="SystemsAnalysis.EMGAATS.CrossSectionEditor.Properties.Settings.mst_xsectionsConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\mst_xsections.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>