<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemsAnalysis.EMGAATS.CrossSectionEditor.Properties.Settings.mst_xsectionsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\cassio\modeling\SAMaster_22\Links\mst_xsections.mdb"
            providerName="System.Data.OleDb" />
        <add name="SystemsAnalysis.EMGAATS.CrossSectionEditor.Properties.Settings.ConnectionString"
            connectionString="Dsn=MS Access Database;dbq=W:\SAMaster_22\Links\mst_xsections.mdb;defaultdir=W:\SAMaster_22\Links;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>