<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PumpCycleDataAnalyzer.Properties.Settings.NEPTUNEConnectionString"
            connectionString="Data Source=BESNEPTUNE;Initial Catalog=NEPTUNE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>