<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DSCUpdater2.Properties.Settings.DSCEditorHistoryConnectionString" connectionString="Data Source=|DataDirectory|\DSCEditorHistory.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    <add name="DSCUpdater2.Properties.Settings.mst_ic_Drywell_acConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\mst_ic_Drywell_ac.mdb" providerName="System.Data.OleDb"/>
    <add name="DSCUpdater2.Properties.Settings.mst_ic_DiscoVeg_acConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\mst_ic_DiscoVeg_ac.mdb" providerName="System.Data.OleDb"/>
    <add name="DSCUpdater2.Properties.Settings.mst_DSC_acConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\mst_DSC_ac.mdb" providerName="System.Data.OleDb"/>
    <add name="AppSQLConnection" connectionString="Data Source=WS09884\SQLEXPRESS;Initial Catalog=DSCEDITOR;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Outlook" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
