<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CA5.Properties.Settings.PumpStationDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=W:\AGMaster21\Pumps\PumpStationDB.mdb"
            providerName="System.Data.OleDb" />
        <add name="CA5.Properties.Settings.ConnectionString" connectionString="Data Source=FIDDLE;Persist Security Info=True;User ID=ModelAdmin;Password=daW7Horn"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>